@plugin 'daisyui/theme' {
  name: 'sinutre';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96% 0.005 240);
  --color-base-300: oklch(92% 0.01 240);
  --color-base-content: oklch(20% 0.02 240);

  --color-primary: red;
  --color-primary-content: oklch(20% 0.02 55);
  --color-secondary: oklch(92% 0.03 75);
  --color-secondary-content: oklch(25% 0.03 75);
  --color-accent: oklch(82% 0.08 45);
  --color-accent-content: oklch(25% 0.03 45);
  --color-neutral: oklch(30% 0.04 150);
  --color-neutral-content: oklch(96% 0.01 150);

  --color-info: oklch(70% 0.15 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(70% 0.10 145);
  --color-success-content: oklch(20% 0.03 145);
  --color-warning: oklch(80% 0.18 80);
  --color-warning-content: oklch(20% 0.04 80);
  --color-error: oklch(75% 0.12 25);
  --color-error-content: oklch(20% 0.03 25);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
